<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.example.demo.mapper.ColocMapper">

    <insert id="insert" parameterType="com.example.demo.entity.Coloc">
        INSERT INTO gwas2gene.coloc
        VALUES (
                   #{jobid, jdbcType=VARCHAR},
                   #{threshold, jdbcType=VARCHAR}
               )
    </insert>

    <select id="selectByJobid" parameterType="java.lang.String" resultType="com.example.demo.entity.Coloc">
        SELECT * FROM gwas2gene.coloc
        WHERE jobid = #{Jobid};
    </select>

    <update id="updateByPrimaryKey" parameterType="com.example.demo.entity.Coloc">
        UPDATE gwas2gene.coloc
        SET THRESHOLD = #{threshold, jdbcType=VARCHAR}
        WHERE jobid = #{jobid};
    </update>
</mapper>