<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.example.demo.mapper.JobMapper">

    <insert id="insert" parameterType="com.example.demo.entity.Job">
        INSERT INTO gwas2gene.job
        VALUES (
                   #{jobid, jdbcType=VARCHAR},
                   #{status, jdbcType=VARCHAR},
                   #{result_path, jdbcType=VARCHAR},
                   #{type, jdbcType=VARCHAR},
                   #{create_time, jdbcType=VARCHAR},
                   #{finish_time, jdbcType=VARCHAR},
                   #{dir_path, jdbcType=VARCHAR}
               )
    </insert>

    <select id="selectByJobid" parameterType="java.lang.String" resultType="com.example.demo.entity.Job">
        SELECT * FROM gwas2gene.job
        WHERE jobid = #{Jobid};
    </select>

    <update id="updateByPrimaryKey" parameterType="com.example.demo.entity.Job">
        UPDATE gwas2gene.job
        SET STATUS = #{status, jdbcType=VARCHAR},
            RESULT_PATH = #{result_path, jdbcType=VARCHAR},
            TYPE = #{type, jdbcType=VARCHAR},
            CREATE_TIME = #{create_time, jdbcType=VARCHAR},
            FINISH_TIME = #{finish_time, jdbcType=VARCHAR},
            DIR_PATH = #{dir_path, jdbcType=VARCHAR}
        WHERE jobid = #{jobid};
    </update>
</mapper>