<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.example.demo.mapper.UserFileMapper">

    <insert id="insert" parameterType="com.example.demo.entity.UserFile">
        INSERT INTO gwas2gene.userfile
        VALUES (
                   #{ID, jdbcType=VARCHAR},
                   #{File_path, jdbcType=VARCHAR},
                   #{File_name, jdbcType=VARCHAR}
               )
    </insert>

    <select id="selectByID" parameterType="java.lang.String" resultType="com.example.demo.entity.UserFile">
        SELECT * FROM gwas2gene.userfile
        WHERE ID = #{ID};
    </select>

</mapper>